#header {
    -fx-background-color: #cccccc;
}

/*.split-pane {*/
/*    -fx-padding: 0;*/
/*    -fx-border-width: 0;*/
/*}*/

.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: #7070f6;
    -fx-border-width: 0;
}
